/* TODO : Gerer le responsive pour le menu (pour l'instant) */

html, body {
  height: 100%;
  padding:0; 
  margin:0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.centrer {
    display: block;
	text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.red { color : red; }

#nav {
    position:relative;
    background-color: #222;
    margin-bottom: 20px;
    padding: 15px;
    z-index: 100;
}

.navbar-brand {
    font-weight: bold;
}

#nav a {
    color: #9d9d9d;
    text-decoration: none;
}

#nav a:hover {
    color: white;
}

#nav ul {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

#nav ul li {
    display: inline;
    padding: 15px;
}

#nav li.active {
    background: #080808;
}

#externalLink {
    float: right;
    display:inline;
}

#externalLink img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    margin-top: -5px;
}

#content {
    padding: 0 15px;
}

@media screen and (max-width: 750px) {
    #externalLink {
        display: none;
    }
}