.centrer {
    display: block;
	text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#content { margin-top: 65px; padding: 0 15px; margin-left: 190px;}

a.col-lg-12.centrer { background: white; }

.red { color : red; }

#nav {
    position:fixed;
    background-color: #222;
    margin-bottom: 20px;
    padding: 15px;
    z-index: 100;
    float: left;
    width: 180px;
}

#nav a {
    color: #9d9d9d;
    text-decoration: none;
}

#nav a:hover {
    color: white;
}

#nav ul {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

#nav ul li {
    padding: 15px;
}

#nav li.active {
    background: #080808;
}

#externalLink {
    display:inline;
}

#externalLink img {
    height: 25px;
    width: 25px;
}