<section ng-controller="userCtrl" id='userSection'>
    Register
    <!-- <form id='todoForm' ng-submit="addTask()">
        <input id='new-todo' placeholder="Que devez-vous faire ?" ng-model="newTask" />
    </form>
    <article ng-show="tasks.length" class="ng-hide">
        <ul id="todo-list">
            <li ng-repeat="task in tasks" ng-class="{completed: task.completed}">
                <div class="view">
                    <input class="mark" type="checkbox" ng-model="task.completed" ng-change="changeCompletion(task)" />
                    <span>{{ task.title }}</span>
                    <span class="close" ng-click="removeTask(task)">x</span>
                </div>
            </li>
        </ul>
    </article> -->

    <form ng-submit="register()">
        Username :
        <input ng-model="user.username" type="text"> Password :
        <input ng-model="user.password" type="password">
        <button type="submit">Enregister</button>
    </form>
</section>