<header>
    <h1>Todo List</h1>
</header>

<section ng-controller="todoCtrl" id='todoSection'>
    <div class="row">
        <div class="col s12 valign-wrapper">
            <div class="col s6 offset-s3">
                <form id='todoForm' ng-submit="addTask()">
                    <input id='new-todo' placeholder="Que devez-vous faire ?" ng-model="newTask" />
                </form>
                <article ng-show="tasks.length" class="ng-hide">
                    <ul class="collection" id="todo-list">
                        <li ng-repeat="task in tasks" class="collection-item" ng-class="{completed: task.completed}">
                            <label>
                                <input type="checkbox" ng-model="task.completed" ng-change="changeCompletion(task)" />
                                <span>{{ task.title }}</span>
                            </label>
                            <a class="secondary-content" href="javascript:void(0)" ng-click="removeTask(task)">
                                <i class="close material-icons red-text">close</i>
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>