header h1 {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

p {
    margin: 20px;
    margin-top: 100px;
}

section {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin: 80px 25% 40px;
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    width: 50%;
    min-width: 500px;
}

article {
    margin: 0px !important;
}

@media(max-width: 850px) {
    section {
        margin-left: 20px;
    }
}

input[type="checkbox"] {
    margin-left: 20px;
    margin-right: 20px;
}

#new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

#new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.02);
    z-index: 2;
    box-shadow: none;
}

#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px dotted #ccc;
}

.mark:checked + span {
    text-decoration: line-through;
    font-style: italic;
    color: #AAA;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list li .close {
    float: right;
    margin-right: 30px;
    color: #AAA;
}

#todo-list li .close:hover {
    cursor: pointer;
    color: #444;
}

#mark-all {
    margin-bottom: 30px;
    margin-bottom: 30px;
}